
*{
  box-sizing: border-box;
  list-style: none;
}


.switch {
  position: absolute;
  top:3%;
  left:19%;
}

.switch input { 
  opacity: 0;
  width: 40px;
  height: 14px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.annot{
  position: absolute;
  z-index: 3;
  color:white;
  display:flex;
  right:35%;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
  padding:10px;
  /* background-color: aqua; */
}
.annot>h2{
  margin-top:-8px;
}
body{
  display:flex;
  justify-content: space-around;
  font-family: 'Courier New', monospace;
  align-items: center;
  background-image: url("./bg.jpg");
  background-size: 90%;
}
.left-side{
  width:20%;
  padding: 5px;
  display:flex;
  height:700px;
  justify-content:space-evenly;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 2;
  align-items: center;
  color: white;
  padding: 5px;
  border-radius: 25px;
}

.left-side * {
  /* color:white; */
}
.first-container,
.second-container,
.third-container,
.sixth-container,
.fourth-container,
.fifth-container{
  width:90%;
  /* background-color:aqua; */
  /* height:10%; */
  /* margin-top: 15%; */
}
.sixth-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  color:white;
}

.date-but{
  border-radius: 50%;
  padding:5px;
  width:60px;
  height:60px;
  transition: all 0.5s ease-in-out;
  color:white;
  background: none;
}
.date-but:hover{
  transform:scale(1.1);
  box-shadow:0 0 10px 4px purple;
}

.date-but:focus{
  transform:scale(1.1);
  box-shadow:0 0 10px 4px red;
}

form{
  width: 100%;
  background:none;
  color:white;
}

form > input{

  padding:5px;
  border-radius: 25px;
  background: none;
  /* border:none; */
  /* box-shadow:0 -2px 10px 1px white; */
  color:white;
  width:80%;
  text-align: center;
}

form > input{
  margin-left: 5px;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom:2px solid green;
}


form > input::placeholder{
  color:white;
}

form > button{
  border-radius: 50%;
  background: none;
  padding:5px;
  border:none;
  width:30px;
  height:30px;
  /* box-shadow:0 -2px 5px 2px black; */
}

/* .fourth-container,
.fifth-container{
  position: relative;
  width:220px;
  display:flex;
  top:-8%;
}
.fifth-container{
  left:25%;
  top:-12%;
}
.fourth-container>form{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
} */



.right-side{
  width:70%;
  /* border: 2px solid black; */
  height:700px;
  box-shadow:0 0 10px 5px black;
  background-color: rgba(0, 0, 0, 0.637);
  z-index : 2;
  display:flex;
  flex-direction:column;
  border-radius:20px;
}


.city, .state, .crop, .graph {
    border: 1px dotted #ccc;
    padding: 5px;
    position: absolute;
    margin-left: 8px;
    width:200px;
    z-index:2;
    background-color:aliceblue;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color:black;
    flex-direction:column;
    text-align:center;
    overflow-y: auto;
    box-shadow: 0 3px 5px 2px black;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    /* background:white; */
    height:auto;
    max-height:100px;
  }

  /* .graph{
    height: 100px;
    top: 100%;
    margin-left: 0;
    width: 150px;
    left: 8%;
    background-color: white;
  } */

  .button-option{
    cursor: pointer;
    background:none;
    border:none;
    padding:8px;
    border-radius: 25px;
    font-size:90%;
    border-bottom:1px solid green ;

  }

  .button-option:hover{
    background-color:green;
  }


 
  .myclass .ZebraDialog_Title {
    background: green;
  }
  .myclass .ZebraDialog_Body {
    color: white;
      font-size: 21px;
      background-color: rgba(0, 0, 0, 0.637);
  }

  .ZebraDialog_Information .ZebraDialog_Body{
    background-image: url("https://www.kisaanhelpline.com/uploads/kh_services/Plant-Nutrition.png");
    background-size:20%;
  }

  .ZebraDialog, .ZebraDialog_Body, .ZebraDialog_Buttons a, .ZebraDialog_Title {
    font-family: 'Courier New', monospace;
  }


.ZebraDialog{
    background-image: url("crop.jpg");
    background-size: 100%;
  }

  .myclass .ZebraDialog_Title{
    background-image: url("crop.jpg");
    background-size: 100%;
  }

  .js-plotly-plot .plotly .main-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    border-radius: 25px;
    padding: 5px;
    /* background-color: rgba(0, 0, 0, 0.384); */
    /* color:white; */
  }